/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 100px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
	padding-left: 40px
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	padding-right: 70px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 305px 305px 305px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-left: 90px;
}

.gallery img {
	width: 305px;
	height: 407px;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* Navbar */

header nav img {
	height: 22px;
	width: 22px;
}

header li a:link,
header li a:visited,
header li a:active {
	text-decoration: none;
	color: #000000;
}

/*Filtre*/ 
.filtre{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 50px;
}
.filtre button{
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: #FFFEF8;
	height: 37px;
	padding: 0px 15px 0px 15px;
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
}
.filtre button:hover{
	background-color: #1D6154;
	color: #FFFEF8;
}

/* portfolio*/

.gallery span{
	display: none;
}

/* Page de connection */
.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.login h2{
	margin-bottom: 40px;
}

.login-connexion input{
	display: flex;
	flex-direction: column;
	width: 379px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login-connexion input[type="submit"] {
	box-shadow: none;
	width: 179px;
	height: 36px;
	margin: auto;
}
#navLogin{
	font-weight: bold;
}
.password{
	margin-top: 20px;
}
.password a{
	color: #1D6154;
}

.login-connexion .formulaire{
	margin-bottom: 40px;
}
.formulaire input{
	margin-top: 10px;
}
.formulaire span{
	display: none;
	color: red;
}

.projet {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.projet a {
	margin-left: 20px;
	margin-top: 8px;
	color:#000000;
}
/* MODAL */

.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.modal-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}
.js-modal{
	text-decoration: none;
}
.edition{
	text-decoration: none;
}
.js-close-modal{
	position: absolute;
	top: 30px;
	right: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.js-close-modal i {
	width: 20px;
	height: 20px;
	padding: 2px;
	font-size: 24px;
	pointer-events: none;
}
.modal-wrapper h3{
	position: absolute;
	font-size: 26px;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
.photo-btn{
	align-self: center;
	margin-top: 30px;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #1D6154;
	color: #FFFEF8;
	border-radius: 60px;
	border: none;
	width: 237px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: -9px;
}
.modal-gallery {
	display: grid;
	margin-top: 130px;
	padding-bottom: 60px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	row-gap: 30px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #B3B3B3;
}
.modal-gallery img {
	width: 76px;
	height: 102px;
}

.modal-gallery figure {
	position: relative;
	display: inline-block;
}

.modal-gallery img {
	display: block;
}
.icon-delete {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
	color: #FFFFFF;
}
.icon-delete i {
	font-size: 11px;
}
/* modal ajout photo */
.retour-modal-main {
	position: absolute;
	top: 30px;
	left: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.retour-modal-main i {
	height: 21px;
	width: 21px;
	font-size: 24px;
}
.modal-formulaire .js-close-modal i {
	font-size: 18px;
}

#add-photo {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 50px;
}

#add-photo .button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 25px;
	border-top: 1px solid #B3B3B3;
}
#valid-image{
	align-self: center;
	margin-top: 30px;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #B3B3B3;
	color: #FFFEF8;
	border-radius: 60px;
	border: none;
	width: 237px;
	font-size: 14px;
	font-weight: bold;
}
.ajout-photo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #e8f1f6;
	width: 420px;
	height: 169px;
	padding-top: 15px;
}
.ajout-photo i,
.ajout-photolabel,
.ajout-photo span{
	flex: 1;
	text-align: center;
}
.ajout-photo span {
	padding-top: 5px;
	color: #444444;
	font-size: 10px;

}
.ajout-photo i {
	font-size: 76px;
	color: #B9C5CC;
	margin-bottom: 5px;
}
.ajout-photo input[type="file"] {
	display: none;
}
.style-addphoto{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:  #B9C5CC;
	width: 173px;
	height: 36px;
	color: #306685;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	border-radius: 50px;
	margin-top: 10px;
}
.custom-label{
	margin-bottom: 10px;
}
#preview{
	height: 169px;
	width: 129px;
}
.modal-formulaire {
	justify-content: center;
	flex-direction: column;
}
.modal-formulaire button[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #B3B3B3;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}
#title {
	width: 100%;
	max-width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}
#category {
	width: 100%;
	max-width: 420px;
	height: 51px;
	border: none;
	background-color: transparent;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

/* mode Edition  headdband noir */
.mode-edition{
	position: fixed;
	z-index: 998;
	justify-content: center;
	align-items: center;
	background: #000000;
	width: 100%;
	height: 59px;
	top: 0;
	right: 0;
	color: #FFFEF8;
}

.mode-edition a {
	display: inline-block;
	text-align: center;
	color: #FFFEF8;
}
.header-top {
	margin-top: 20px;
}
